.btn-top {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  z-index: 1;
}

.btn-top button {
  border-radius: 50%;
  background-color: rgba(31, 113, 159, 1);
}

.btn-top a {
  height: 0;
}

.btn-top button > a > img {
  width: 40px;
  height: 40px;
  padding: 10px;
}

@media screen and (max-width: 425px) {
  .btn-top {
    bottom: 40px;
    right: -20px;
  }
}
